# Week 3 project

In [1]:
!pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/fd/a0/ccb3094026649cda4acd55bf2c3822bb8c277eb11446d13d384e5be35257/folium-0.10.1-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 8.2MB/s eta 0:00:011
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/81/6d/31c83485189a2521a75b4130f1fee5364f772a0375f81afff619004e5237/branca-0.4.0-py3-none-any.whl
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.0 folium-0.10.1

In [124]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import folium
import json
import geopy.distance
import numpy as np
from sklearn.cluster import KMeans

## Get data from website

In [3]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

## Parse response data and prepare dataframe

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find_all(class_='wikitable')[0]
data = [[td.get_text().strip() for td in tr.find_all("td")] for tr in table.find_all("tr")]

## Assign data to dataframe and do cleaning

In [5]:
df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[df['Borough'] != 'Not assigned']
df = df[df['Borough'].notnull()]

df.head()

  PostalCode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor

## Join neighbourhood to post code and borough

In [6]:
df_joined = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x)).to_frame().reset_index()
df_joined.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [7]:
df_joined.shape

(103, 3)

## Load geo data

In [8]:
!wget -q https://cocl.us/Geospatial_data

In [9]:
df_location = pd.read_csv('Geospatial_data')
df_location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Add geo data to orignal data frame by using post code

In [10]:
df_combined = df_joined.join(df_location.set_index('Postal Code'), on='PostalCode')
df_combined.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

## Fetch venue data from foursquare

### Select Toronto

In [12]:
df_toronto = df_combined[df_combined['Borough'].str.contains('Toronto')]
df_toronto.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [17]:
df_toronto.shape

(39, 5)

### Check distance between postcodes

In [85]:
import geopy.distance

In [103]:
distance_matrix = []

for index1, item1 in df_toronto.iterrows():       
    distance_matrix.append([geopy.distance.distance((item1['Latitude'], item1['Longitude']), (item2['Latitude'], item2['Longitude'])).km for index2, item2 in df_toronto.iterrows()])

df_distance = pd.DataFrame(data=distance_matrix, columns=df_toronto['PostalCode'].to_list())  
df_distance.replace(0, np.nan, inplace=True)

###  Anlyze distance

In [106]:
df_distance

,M4E,M4K,M4L,M4M,M4N,M4P,M4R,M4S,M4T,M4V,...,M5X,M6G,M6H,M6J,M6K,M6P,M6R,M6S,M7A,M7Y
0,NaN,4.783559,1.993202,4.291486,9.619156,8.815305,10.063112,8.322152,7.414142,8.701328,...,7.839071,10.473616,12.062312,10.698086,11.753554,13.946929,13.518335,15.683039,7.934935,2.753349
1,4.783559,NaN,3.177377,2.403919,6.139873,4.794850,5.868387,4.034848,2.734048,3.933596,...,4.225191,5.783385,7.357686,6.484299,7.752742,9.295478,9.061270,11.111572,3.567574,3.097046
2,1.993202,3.177377,NaN,2.299750,8.822699,7.734906,8.906815,7.089083,5.910160,7.081630,...,5.846215,8.629165,10.217456,8.723542,9.762329,12.061140,11.569990,13.759062,6.008462,0.846194
3,4.291486,2.403919,2.299750,NaN,8.532692,7.124297,8.110172,6.298570,4.769478,5.626740,...,3.556822,6.678252,8.241071,6.488309,7.477977,9.991890,9.383259,11.611820,3.929919,1.602413
4,9.619156,6.139873,8.822699,8.532692,NaN,1.700320,1.955339,2.632796,4.295660,4.711171,...,8.858646,7.044675,7.846785,9.242365,10.616427,9.589496,10.334840,11.472995,7.302015,9.054092
5,8.815305,4.794850,7.734906,7.124297,1.700320,NaN,1.281433,0.943108,2.636836,3.032251,...,7.175008,5.464122,6.421939,7.586354,8.972707,8.272369,8.869405,10.196286,5.605548,7.841978
6,10.063112,5.868387,8.906815,8.110172,1.955339,1.281433,NaN,1.833697,3.393753,3.250699,...,7.674536,5.272043,5.937171,7.580243,8.912698,7.641361,8.434622,9.518870,6.040353,8.955604
7,8.322152,4.034848,7.089083,6.298570,2.632796,0.943108,1.833697,NaN,1.700517,2.187359,...,6.232436,4.727545,5.829628,6.745172,8.142737,7.749258,8.215747,9.688056,4.669344,7.122522
8,7.414142,2.734048,5.910160,4.769478,4.295660,2.636836,3.393753,1.700517,NaN,1.406302,...,4.572009,3.879378,5.285242,5.488191,6.892903,7.277337,7.428470,9.195643,3.072917,5.793444
9,8.701328,3.933596,7.081630,5.626740,4.711171,3.032251,3.250699,2.187359,1.406302,NaN,...,4.456843,2.609502,3.914871,4.561637,5.956454,5.901752,6.157602,7.830734,2.810844,6.854314
10,6.823128,2.043445,5.132515,3.697601,5.459959,3.826253,4.581359,2.897105,1.201437,1.968859,...,3.480257,3.798539,5.350226,4.894021,6.262949,7.312639,7.207806,9.167382,2.146866,4.885471
11,6.091540,1.793921,4.203801,2.352801,6.886006,5.296752,6.094387,4.383617,2.706006,3.318941,...,2.469844,4.430266,6.016412,4.754242,5.982383,7.862572,7.456229,9.593947,1.868983,3.764616
12,7.361672,2.924853,5.462331,3.478730,6.921333,5.240708,5.794137,4.297683,2.634811,2.658822,...,1.937947,3.204238,4.779327,3.561157,4.856812,6.598879,6.193452,8.323325,0.645989,4.980673
13,5.979948,2.892071,3.986746,1.694385,8.503787,6.922063,7.701296,6.007923,4.323720,4.781764,...,1.862439,5.275803,6.784561,4.820621,5.783687,8.439081,7.742053,9.992825,2.493402,3.290132
14,7.249450,3.293261,5.277465,3.077633,7.912815,6.242685,6.818634,5.299937,3.617285,3.668900,...,1.007026,3.778137,5.274265,3.448645,4.570096,6.940656,6.309204,8.534391,1.025286,4.669731
15,7.196439,3.637616,5.204401,2.922244,8.570657,6.909592,7.506144,5.968008,4.276777,4.358661,...,0.649957,4.299174,5.731892,3.598430,4.558349,7.294345,6.533321,8.796065,1.652620,4.520923
16,7.365048,4.223680,5.379249,3.084222,9.333420,7.674847,8.268344,6.733543,5.040965,5.104701,...,0.830307,4.833504,6.179661,3.763465,4.515242,7.611477,6.714122,8.998675,2.345001,4.627630
17,7.879709,3.717383,5.920737,3.751713,7.785831,6.092699,6.549227,5.153458,3.529844,3.322972,...,1.135325,3.116125,4.593445,2.838799,4.042118,6.254969,5.650724,7.862437,0.512339,5.336187
18,7.919537,4.146333,5.930065,3.658639,8.611827,6.923461,7.399482,5.981999,4.334957,4.173322,...,0.301148,3.719695,5.084361,2.853568,3.835866,6.584436,5.791912,8.058752,1.362540,5.259661
19,8.173826,4.920842,6.189289,3.895035,9.705587,8.021412,8.506602,7.078978,5.418548,5.276623,...,0.846972,4.585344,5.799509,3.165938,3.773075,7.084139,6.084409,8.371492,2.467533,5.433001
20,7.843526,4.308348,5.850336,3.555002,9.001042,7.318788,7.823398,6.376029,4.712338,4.606867,...,0.150288,4.135933,5.462867,3.080928,3.932419,6.899609,6.033877,8.313872,1.797721,5.141315
21,7.667450,4.135844,5.674258,3.380592,8.898175,7.220861,7.750449,6.277763,4.604990,4.548557,...,0.200381,4.184869,5.542058,3.221871,4.101854,7.012692,6.173106,8.449717,1.750606,4.969776
22,10.732743,6.324118,9.449256,8.435601,2.904172,2.158093,0.995502,2.411767,3.667834,3.121481,...,7.564294,4.705367,5.163840,7.088651,8.365401,6.770424,7.659797,8.617481,5.917125,9.418876
23,9.806816,5.143221,8.320542,7.035670,3.900291,2.445033,2.097979,1.991539,2.412535,1.481190,...,5.877010,3.177323,3.983352,5.488900,6.814941,5.830730,6.450411,7.759544,4.232225,8.174135
24,9.093281,4.380107,7.278645,5.424354,6.294362,4.620595,4.741316,3.767262,2.609211,1.588667,...,3.292364,1.406510,2.978760,2.978290,4.378892,4.922424,4.863356,6.773907,1.743898,6.874276
25,8.763471,4.290524,6.849439,4.782193,7.314542,5.617910,5.871506,4.713467,3.282297,2.635065,...,2.137085,1.968777,3.475872,2.284332,3.660947,5.221223,4.789330,6.919605,0.852526,6.331044
26,9.006819,4.844919,7.036376,4.820989,8.361805,6.663374,6.923214,5.751703,4.264159,3.689446,...,1.528603,2.567567,3.830602,1.694110,2.908422,5.303059,4.564471,6.811271,1.321476,6.419616
27,9.728736,6.574643,7.763261,5.493046,11.017048,9.317381,9.646448,8.387195,6.797024,6.400876,...,2.375937,5.049631,5.891096,2.936746,2.863202,6.736456,5.467724,7.687040,3.727148,6.975573
28,7.389361,4.108847,5.398756,3.099113,9.134081,7.471357,8.053892,6.529389,4.839679,4.884736,...,0.639397,4.626783,5.988286,3.626616,4.434164,7.447022,6.579647,8.860959,2.122230,4.665030
29,7.839071,4.225191,5.846215,3.556822,8.858646,7.175008,7.674536,6.232436,4.572009,4.456843,...,NaN,4.007663,5.351100,3.023503,3.921535,6.813078,5.974072,8.250047,1.647482,5.150111
30,10.473616,5.783385,8.629165,6.678252,7.044675,5.464122,5.272043,4.727545,3.879378,2.609502,...,4.007663,NaN,1.589577,2.412284,3.660831,3.515914,3.556112,5.376397,2.785924,8.181510
31,12.062312,7.357686,10.217456,8.241071,7.846785,6.421939,5.937171,5.829628,5.285242,3.914871,...,5.351100,1.589577,NaN,2.963362,3.748829,1.992460,2.499507,3.915863,4.320496,9.759977
32,10.698086,6.484299,8.723542,6.488309,9.242365,7.586354,7.580243,6.745172,5.488191,4.561637,...,3.023503,2.412284,2.963362,NaN,1.406868,3.936572,2.953063,5.235464,2.916834,8.090298
33,11.753554,7.752742,9.762329,7.477977,10.616427,8.972707,8.912698,8.142737,6.892903,5.956454,...,3.921535,3.660831,3.748829,1.406868,NaN,4.034113,2.638916,4.824929,4.212490,9.071211
34,13.946929,9.295478,12.061140,9.991890,9.589496,8.272369,7.641361,7.749258,7.277337,5.901752,...,6.813078,3.515914,1.992460,3.936572,4.034113,NaN,1.561511,1.940547,6.071740,11.551610
35,13.518335,9.061270,11.569990,9.383259,10.334840,8.869405,8.434622,8.215747,7.428470,6.157602,...,5.974072,3.556112,2.499507,2.953063,2.638916,1.561511,NaN,2.287468,5.591261,10.978774
36,15.683039,11.111572,13.759062,11.611820,11.472995,10.196286,9.518870,9.688056,9.195643,7.830734,...,8.250047,5.376397,3.915863,5.235464,4.824929,1.940547,2.287468,NaN,7.752047,13.198446
37,7.934935,3.567574,6.008462,3.929919,7.302015,5.605548,6.040353,4.669344,3.072917,2.810844,...,1.647482,2.785924,4.320496,2.916834,4.212490,6.071740,5.591261,7.752047,NaN,5.479882
38,2.753349,3.097046,0.846194,1.602413,9.054092,7.841978,8.955604,7.122522,5.793444,6.854314,...,5.150111,8.181510,9.759977,8.090298,9.071211,11.551610,10.978774,13.198446,5.479882,NaN

In [108]:
# Show mean distance between postcodes
df_distance.mean()

M4E    8.493136
M4K    4.823965
M4L    6.756491
M4M    5.159432
M4N    7.533915
M4P    6.064550
M4R    6.414585
M4S    5.372972
M4T    4.405812
M4V    4.278318
M4W    3.976880
M4X    3.881895
M4Y    3.509186
M5A    4.225477
M5B    3.554285
M5C    3.753176
M5E    4.137577
M5G    3.481975
M5H    3.664410
M5J    4.273168
M5K    3.830208
M5L    3.794566
M5N    6.364067
M5P    5.125036
M5R    3.876949
M5S    3.619454
M5T    3.780299
M5V    5.303702
M5W    3.992388
M5X    3.759525
M6G    4.434513
M6H    5.451730
M6J    4.648310
M6K    5.615818
M6P    6.875563
M6R    6.559978
M6S    8.440578
M7A    3.465936
M7Y    6.345275
dtype: float64

### Conclusion: Average radius shold be fine with 1000 Meter

In [46]:
# The code was removed by Watson Studio for sharing.

### Fetch data from foursquare

In [109]:
import json
toronto_venues_list = []

for index, item in df_toronto.iterrows():
    print(item['PostalCode'])

    params = dict(
      client_id=CLIENT_ID,
      client_secret=CLIENT_SECRET,
      v=VERSION,
      ll=f"{item['Latitude']},{item['Longitude']}",
      radius=1000,
      limit=100
    )
    results = requests.get(url, params=params).json()
 
    venues = results['response']['groups'][0]['items']

    for venue in venues:

        toronto_venues_list.append(
        (item['PostalCode'], venue['venue']['categories'][0]['name'])
        )

df_toronto_venues = pd.DataFrame(data=toronto_venues_list, columns=['PostalCode', 'Venue Category'])
df_toronto_venues.head()

M4E
M4K
M4L
M4M
M4N
M4P
M4R
M4S
M4T
M4V
M4W
M4X
M4Y
M5A
M5B
M5C
M5E
M5G
M5H
M5J
M5K
M5L
M5N
M5P
M5R
M5S
M5T
M5V
M5W
M5X
M6G
M6H
M6J
M6K
M6P
M6R
M6S
M7A
M7Y

  PostalCode                 Venue Category
0        M4E                          Trail
1        M4E  Vegetarian / Vegan Restaurant
2        M4E                      Gastropub
3        M4E            Indie Movie Theater
4        M4E                         Bakery

In [110]:
df_toronto_venues.shape

(3184, 2)

In [111]:
df_toronto_venues.groupby('PostalCode').count()

            Venue Category
PostalCode
M4E                     76
M4K                    100
M4L                     81
M4M                    100
M4N                      8
M4P                    100
M4R                     44
M4S                    100
M4T                     62
M4V                     79
M4W                     24
M4X                     36
M4Y                    100
M5A                    100
M5B                    100
M5C                    100
M5E                    100
M5G                    100
M5H                    100
M5J                    100
M5K                    100
M5L                    100
M5N                     24
M5P                     46
M5R                    100
M5S                    100
M5T                    100
M5V                     14
M5W                    100
M5X                    100
M6G                    100
M6H                     67
M6J                    100
M6K                    100
M6P                    100
M6R                    100
M6S                     75
M7A                    100
M7Y                     48

### Find unique categories

In [112]:
len(df_toronto_venues['Venue Category'].unique())

272

### Analyze by Postal code

In [113]:
# one hot encoding
torento_onehot = pd.get_dummies(df_toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add postal code
torento_onehot['PostalCode'] = df_toronto_venues['PostalCode']

# move column position
fixed_columns = [torento_onehot.columns[-1]] + list(torento_onehot.columns[:-1])
torento_onehot = torento_onehot[fixed_columns]

torento_onehot.head()

,PostalCode,Accessories Store,Afghan Restaurant,Airport,Airport Lounge,American Restaurant,Amphitheater,Animal Shelter,Antique Shop,Aquarium,...,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Yoga Studio,Zoo
0,M4E,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,M4E,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,M4E,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M4E,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M4E,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
torento_onehot.shape

(3184, 273)

### Clean data with mean value

In [115]:
toronto_grouped = torento_onehot.groupby('PostalCode').mean().reset_index()
toronto_grouped.head()

,PostalCode,Accessories Store,Afghan Restaurant,Airport,Airport Lounge,American Restaurant,Amphitheater,Animal Shelter,Antique Shop,Aquarium,...,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Yoga Studio,Zoo
0,M4E,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.013158,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.000000,0.0
1,M4K,0.0,0.0,0.0,0.0,0.01,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.020000,0.0
2,M4L,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.012346,0.0
3,M4M,0.0,0.0,0.0,0.0,0.04,0.0,0.0,0.01,0.0,...,0.010000,0.0,0.0,0.04,0.0,0.01,0.0,0.0,0.010000,0.0
4,M4N,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.000000,0.0

In [116]:
toronto_grouped.shape

(39, 273)

## Assign top venue catories to original data

In [119]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [122]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['PostalCode']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['PostalCode'] = toronto_grouped['PostalCode']

for ind in np.arange(toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,PostalCode,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4E,Pub,Coffee Shop,Pizza Place,Park,Japanese Restaurant,Breakfast Spot,Beach,Bakery,Caribbean Restaurant,Sandwich Place
1,M4K,Greek Restaurant,Coffee Shop,Café,Pub,Pizza Place,Fast Food Restaurant,Ice Cream Shop,Italian Restaurant,Bakery,Diner
2,M4L,Indian Restaurant,Grocery Store,Coffee Shop,Beach,Café,Gym,Sandwich Place,Brewery,Intersection,Burrito Place
3,M4M,Coffee Shop,Bar,Café,Bakery,American Restaurant,Brewery,Italian Restaurant,Vietnamese Restaurant,French Restaurant,Diner
4,M4N,College Gym,Café,Park,Bookstore,Trail,Gym / Fitness Center,College Quad,Coffee Shop,Eastern European Restaurant,Electronics Store

# Use K-Mean to cluster data

In [127]:
kclusters = 5

toronto_grouped_clustering = toronto_grouped.drop('PostalCode', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([1, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       3, 0, 1, 1, 1, 4, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0], dtype=int32)

Join data

In [128]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = df_toronto

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('PostalCode'), on='PostalCode')

toronto_merged.head() # check the last columns!

,PostalCode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
37,M4E,East Toronto,The Beaches,43.676357,-79.293031,1,Pub,Coffee Shop,Pizza Place,Park,Japanese Restaurant,Breakfast Spot,Beach,Bakery,Caribbean Restaurant,Sandwich Place
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,1,Greek Restaurant,Coffee Shop,Café,Pub,Pizza Place,Fast Food Restaurant,Ice Cream Shop,Italian Restaurant,Bakery,Diner
42,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572,1,Indian Restaurant,Grocery Store,Coffee Shop,Beach,Café,Gym,Sandwich Place,Brewery,Intersection,Burrito Place
43,M4M,East Toronto,Studio District,43.659526,-79.340923,1,Coffee Shop,Bar,Café,Bakery,American Restaurant,Brewery,Italian Restaurant,Vietnamese Restaurant,French Restaurant,Diner
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790,2,College Gym,Café,Park,Bookstore,Trail,Gym / Fitness Center,College Quad,Coffee Shop,Eastern European Restaurant,Electronics Store

## Create map

In [129]:
# create map
map_clusters = folium.Map(location=['43.6532', '-79.3832'], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(toronto_merged['Latitude'], toronto_merged['Longitude'], toronto_merged['PostCode'], toronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

NameError: name 'cm' is not defined